/********* aMenu required ***********/

#amenu-list {
	margin:0px;
	padding: 0px;
	position: absolute !important;
	z-index: 999;
}
#amenu-list li {
	display: block;
	margin:0px;
	padding: 0px;
	position: relative !important;
	float: left;
	vertical-align: bottom;
}
* html #amenu-list li {
	width: 1px;
}
#amenu-list li a:link, 
#amenu-list li a:visited, 
#amenu-list li a:hover{
	display: block;
	margin:0px;
	padding: 0px;
	white-space: nowrap;
}
#amenu-list ul {
	display: none;
	margin:0px;
	padding: 0px;
	position: absolute !important;
	height: auto;
}
#amenu-list ul li {
	float: none;
	margin:0px;
	padding: 0px;
}
/******** aMenu look *******/

#amenu-wrapper {
	height: 40px;
	background-color: #1C1C1C;
	border: none;
	padding: 0px 10px;
	border-radius: 7px;
        -moz-box-shadow: 10px 10px 5px #888;
        -webkit-box-shadow: 10px 10px 5px #888;
        box-shadow: 10px 10px 5px #888;
        font-family: Delicious, sans-serif;
}
#amenu-list li {
	height: 40px;
}
#amenu-list li.parent > a {
	background: url(images/down_arrow.gif) no-repeat 92% 50%;
}
#amenu-list li a:link, #amenu-list li a:visited {
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	color: #FFFFFF;
        font-size: 13px;
	padding: 0px 25px 0px 20px;
	border-left: none;
}
#amenu-list li a:hover, #amenu-list li a.active {
	color: #FFFFFF;
	background-color: #424242;
	border-left: none;
}

#amenu-list ul {
	border-left: none;
}
#amenu-list ul li {
	height: 30px;
	background-color: #1C1C1C;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #090909;
}
#amenu-list ul li.parent > a {
	background: url(images/right_arrow.gif) no-repeat 95% 50%;
}
#amenu-list ul li a:link, #amenu-list ul li a:visited {
	height: 30px;
	line-height: 30px;
	padding: 0px 40px 0px 20px;
	border-left: none;
}
#amenu-list ul li a:hover, #amenu-list ul li a.active {
	background-color: #424242;
	color: #FFFFFF;
}
